<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <style>
        label{
            font-size:1em;
            color:saddleBrown;
        }
        body{
        	background-color:beige;
        }
        .reminder{
        	color:gray;
        }
        .heading{
        	color:burlyWood;
            font-size:1.5em;
		}
		ol{
   			padding:0;
    		list-style-position:inside;
    		border:1px solid #ddd;
		}
		li {
			padding:6px;
			border-bottom:1px solid #ddd;
		}
		li:last-child{
			border-bottom:none;
		}
    </style>
</head>
<body>
    <div class="heading">
        <h1>Inventory Management System</h1>
    </div>
    <form>
        <button type="submit" formaction="/home">home</button>
    </form>
    <div>
    	<%= msg %>
    	<ol>
        	<% for (var i of foundItems) { %>
        	<li>
            	id: <%= i.id %>
            	name: <%= i.name %><br>
            	description: <%= i.description %><br>
            	category: <%= i.category %><br>
        		quantity: <%= i.quantity %>
        	</li>
        	<% } %>
    	</ol>
    </div>
    <form>
        <button type="submit" formaction="/update">update</button>
        <button type="submit" formaction="/delete">delete</button>
    </form>
</body>
</html>

    
