<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <style>
        label{
            font-size:1em;
            color:saddleBrown;
        }
        body{
        	background-color:beige;
        }
        .reminder{
        	color:gray;
        }
        .heading{
        	color:burlyWood;
            font-size:1.5em;
		}
		ol{
   			padding:0;
    		list-style-position:inside;
    		border:1px solid #ddd;
		}
		li {
			padding:6px;
			border-bottom:1px solid #ddd;
		}
		li:last-child{
			border-bottom:none;
		}
    </style>
</head>
<body>
    <div class="heading">
        <h1>Inventory Management System</h1>
    </div>
    <form>
        <button type="submit" formaction="/home">home</button>
    </form>
    <div>
    	<b style="color:gray;"><%= msg %></b>
    	<ol>
        	<% for (var i of foundItems) { %>
        	<li>
            	<b>ID:</b> <%= i.id %>
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Name:</b> <%= i.name %><br>
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Description:</b> <%= i.description %><br>
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Category:</b> <%= i.category %><br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Quantity:</b> <%= i.quantity %>
        	</li>
        	<% } %>
    	</ol>
    </div>
    <form action="/updateDetail" method="post">
   		<b style="color:gray;">Enter one item ID to update/delete</b><br>
   		<input type="text" id="updateID" name="updateID" palceholder="">
   		<input type="submit" value="update">
   		<button type="submit" formaction="/delete">delete</button>
    </form>
</body>
</html>

    
