<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        label{
            font-size:1em;
            color:saddleBrown;
        }
        body{
        	background-color:beige;
        }
        .item_num{
        	color:gray;
        }
        .heading{
        	color:burlyWood;
            font-size:1.5em;
		}
		ol{
   			padding:2px;
    		list-style-position:inside;
    		border:1px solid #ddd;
		}
		li {
			padding:6px;
			border-bottom:1px solid #ddd;
		}
		li:last-child{
			border-bottom:none;
		}
    </style>
</head>
<body>
    <div class="heading">
        <h1>Inventory Management System</h1>
    </div>
    <form>
        <button type="submit" formaction="/create">create</button>
        <label>|</label>
        <button type="submit" formaction="/search">search</button>
        <label>|</label>
        <button type="submit" formaction="/logout">logout</button>
    </form>
    <div>
    	<b style="color:gray;"><%= msg %></b>
    	<ol>
            <% for (var i of foundItems) { %>
            <li>
            <b>ID:</b> <%= i.id %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Name:</b> <%= i.name %><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Description:</b> <%= i.description %><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Category:</b> <%= i.category %><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Quantity:</b> <%= i.quantity %>
            </li>
            <% } %>
        </ol>
    </div>
    <br>
    <b class="item_num">Total of <%= amount %> items, total quantity of <%= quantity %></b>
</body>
</html>
