<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <style>
        body{
        	background-color:beige;
        }
        .heading{
        	color:burlyWood;
            font-size:1.5em;
		}
		ol{
   			padding:0;
    		list-style-position:inside;
    		border:1px solid #ddd;
		}
		li {
			padding:6px;
			border-bottom:1px solid #ddd;
		}
		li:last-child{
			border-bottom:none;
		}
    </style>
</head>
<body>
    <div class="heading">
        <h1>Inventory Management System</h1>
    </div>
    <form>
        <button type="submit" formaction="/home">home</button>
    </form>
    <div>
    	<%= msg %>
    	<ol>
        	<% for (var i of foundItems) { %>
        	<li>
            	<b>ID:</b> <%= i.id %>
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Name:</b> <%= i.name %><br>
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Description:</b> <%= i.description %><br>
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Category:</b> <%= i.category %><br>
            	<form action="/update" method="post">
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Quantity:</b> <input type="text" id="quantity" name="quantity" placeholder="<%= i.quantity %>">
        	</li>
        	<% } %>
    	</ol>
    </div>
        <br>
        <input type="submit" value="update">
    </form>
</body>
</html>
